body {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
}

main {
  margin-top: 70px; /*Offset for fixed nav*/
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
  color: #ff4081;
}

h4 {
  font-weight: 300;
}

i {
  color: #ff4081;
}

p {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5em;
  color: black;
}

fieldset {
  border: none;
}

form > button:hover {
  border: 1px solid black;
}

nav:before,
nav:after {
  content: "";
  display: table;
}

nav:after {
  clear: both;
}

nav {
  position: fixed;
  top: 0%;
  background-color: #1464c0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  clear: both;
  *zoom: 1;
}

nav > header {
  float: left;
  width: 40%;
}

nav > header > h2 {
  padding-left: 2.5%;
}

nav > ul {
  text-align: right;
  float: right;
  width: 60%;
}

nav > ul > li {
 display: inline-block;
 padding-right: 5%;
}

nav > ul > li:last-of-type {
  padding-right: 10%;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #ff4081;
}

nav .active {
  border-bottom: 2px solid white;
}

footer {
  background-color: #1464c0;
}

footer > section {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

footer > section:first-of-type {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 30px 0;
}

footer > section > header {
  margin-left: 10%;
  width: 50%;
}

footer > section > header > h3 {
    color: white;
}

footer > section > header > p {
    color: white;
}

footer > section > ul {
  margin-right: 10%;
  width: 30%;
}

footer > section > ul > li {
  display: block;
  text-decoration: none;
  list-style: none;
}

footer > section > ul > li > a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

footer > section > ul > li > a:hover {
  color: black;
  font-size: 0.8em;
  text-decoration: none;
}

.banner {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner > header > h1 {
  margin-bottom: 20px;
}

.order-btn, .submit-btn{
  background-color: #ff4081;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-size: 0.8em;
  padding: 15px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.order-btn:hover {
  background-color: white;
  color: #ff4081;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
}

.submit-btn:hover {
  background-color: #ff408199;
  color: white;
  box-shadow: 0px 0px 5px #ff408175;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}

.info-block {
  padding: 0 10px 0 10px;
  width: 23%;
}

.info-block > header {
  display: flex;
  align-items: center;
}

.info-block > header > h3 {
  margin: 0;
}

.info-block > header > i {
  margin-right: 2.5%;
}

.info-block:first {
  padding: 0 0 0 5px;
}

.info-block:last {
  padding-right: 0px 5px 0px 0px;
}

.copyright {
  background-color: #0d47a1;
}

.copyright > h5 {
  font-size: 0.7em;
  font-weight: 300;
  margin-left: 10%;
}

.menu > header > h2, .order > header > h2 {
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 100%;
}

.option-block-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.option-block {
  border-radius: 5px;
  margin-right: 20px;
  width: 40%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.option-block > button {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #ff4081;
  padding: 15px 0 15px 10px;
  text-align: left;
  width: 100%;
}

.option-block > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.option-block > header > h4 {
  color: black;
  margin-bottom: 0;
  padding-left: 10px;
}

.option-block > img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: auto;
}

.option-block > p {
  padding-left: 10px;
}

.menu {
  width: 40%;
}

.order {
  color: black;
  width: 25%;
}

.order-column-items, .order-column-price {
  color: black;
}

.order-column-items header, .order-column-price header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-column-items {
  width: 80%;
}

.order-column-price {
  text-align: right;
  width: 20%;
}

.order li {
  font-size: 0.75em;
  font-weight: 400;
  padding: 15px 5px 15px 5px;
  text-decoration: none;
  display: block;
}

.order ul {
  margin: 0;
  padding: 0;
}

.order-total-text {
  text-align: right;
  width: 70%;
}

.order-total-value {
  text-align: right;
  width: 30%;
}

.order-item li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.contact-form:last-of-type{
  margin-bottom: 25px;
}

.contact-form > div > i {
  padding-right: 10px;
  width: 100%;
}

.small-form-label {
  display: block;
  font-size: 0.67em;
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.contact-input-field {
  border: none;
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2.5em;
  width: 100%;
}

.contact-form > label {
  border-bottom: 2px solid #4caf50;
  width: 100%;
}

.highlight {
  color: #4caf50;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin: 0;
    font-size: 3.5em;
  }
  main {
    margin-top: 105px;
  }
  nav {
    display: block;
    height: 105px;
    text-align: center;
  }
  nav > header {
    width: 100%;
  }
  nav > ul {
    width: 100%;
    padding: 0;
    text-align: center
  }
  nav > ul:first-of-type {
    padding-left: 5%;
  }
  nav > header, nav > ul {
    float: none;
  }
  .order-btn {
    font-size: 1.4em;
    padding: 25px 50px;
  }
  .banner {
    height: 500px;
  }
  .info {
    font-size: 1em;
    flex-direction: column;
    margin-top: 40px;
  }
  .info-block {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 0;
  }
  .info-block:first-of-type {
    margin-top: 5%;
  }
  .info-block > header {
    font-size: 2em;
  }

  .info-block > p {
    font-size: 1em;
  }
  .flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu {
    width: 90%;
  }
  .option-block-row{
    justify-content: space-around;
  }
  .option-block {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  .order {
    width: 90%;
  }
  footer > section:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    text-align: center;
  }

  footer > section > header {
    margin-left: 0;
  }
  footer > section > ul {
    width: 100%;
  }
  footer > section > ul > li {
    display: inline-block;
    padding: 0 15px;
  }
  footer > section > ul > li:nth-child(odd), footer > section > ul > li:last-of-type {
    border-right: 1px solid white;
  }
  footer > section > ul > li:first-of-type {
    border-left: 1px solid white;
  }
  form {
    margin-top: 20px;
  }
  .big-icon {
    font-size: 55px !important;
  }
  .med-icon {
    font-size: 35px !important;
  }
}
